.idea
.idea/*

.DS_Store
timestamp.txt

*.fa
*.fasta
*.pyc
*.fq
*.fastq
*.json
*.csv

reference*

output*
*output*
src/output/*
src/output
src/EnsembleGenome_STAR_without_scaffolds
src/hla_gen.fasta_STAR
src/reference/*
src/reference
src/TCGA_HLA_alleles.tsv
src/hla_gen.fasta

hla_em_dir/output/*
hla_em_dir/output
hla_em_dir/EnsembleGenome_STAR_without_scaffolds
hla_em_dir/hla_gen.fasta_STAR
hla_em_dir/reference/*
hla_em_dir/reference
hla_em_dir/TCGA_HLA_alleles.tsv
hla_em_dir/hla_gen.fasta

hla_gen.fasta
TCGA_HLA_alleles.tsv


